<div class="content">
  <div class="heading">
    <h1>
      {{celebrity?.firstName}} {{celebrity?.lastName}}
    </h1>
  </div>
  <div>
    <div class="row general-info">
      <div class="col-md-6 col-xs-12">
        <img align="middle" src="{{imageURL}}" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>10/10 would buy this person's stocks!</h2>
        <ul>
          <li>ID: {{celebrity?.id}}</li>
          <li>Birthday: {{celebrity?.birthday}}</li>
          <li>Day of Death: {{celebrity?.dayOfDeath}}</li>
          <li>Job: {{celebrity?.job}}</li>
        </ul>
        <p>Description: {{celebrity?.description}}</p>
      </div>
    </div>
    <div class="row detailed-info">
      <ul>
        <li>Overall Trend: </li>
        <li>{{celebrity?.mentionsPerMonth}}</li>
      </ul>
    </div>
  </div>
</div>
