<div class="content">
  <div class="heading">
    <h1>
      {{celebrity?.firstName}} {{celebrity?.lastName}}
    </h1>
  </div>
  <div>
    <div class="row general-info">
      <div class="col-md-6 col-xs-12">
        <img align="middle" src="https://picsum.photos/400/600/?random" />
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>10/10 Would buy this person!</h2>
        <ul>
          <li>ID: {{celebrity?.id}}</li>
          <li>Birthday: {{celebrity?.birthday}}</li>
          <li>Day of Death: {{celebrity?.dayOfDeath}}</li>
          <li>Job: {{celebrity?.job}}</li>
        </ul>
        <p>Some more interesting information which nobody knew until now!</p>
      </div>
    </div>
    <div class="row detailed-info">
      Spicy jalapeno bacon ipsum dolor amet pork belly flank andouille landjaeger cupim turducken meatball salami. Corned beef capicola chicken, salami tongue chuck tenderloin drumstick swine tri-tip pork loin. Fatback biltong beef, strip steak pancetta turkey burgdoggen pork belly short ribs salami boudin porchetta ribeye short loin. Picanha pork chop fatback drumstick, ham corned beef shoulder biltong bacon frankfurter jowl. Kevin flank pork belly beef ribs shoulder bresaola capicola shank sausage pork biltong pastrami tenderloin.
    </div>
  </div>
</div>
